/* custom styles */

div#ticker {
    position: absolute;
    font-size: .4em;
    top: .25em;
    left: 2000px;
    text-align: right;
    color: gray;
    overflow: hidden;
    white-space: nowrap;
}

div#ticker span {
    margin-left: 2em;
}

body {
    overflow: hidden;
    font-family: "URW Gothic L", Helvetica, sans-serif;
    padding-top: 15px;
}